.App{
    max-width:500px;
    margin:0 auto;
    padding:20px;
}

form{
    width:500px;
    padding:20px;
    background-color:#f4f4f4;
    border-radius:8px;
    box-shadow:0 2px 4px black;
}

.form-group{
    margin-bottom:1rem;
}

.form-label{
    margin-bottom:0.8rem;
    display:inline-block;
}

.form-control{
    display:block;
    width:100%;
    font-size:18px;
    padding:12px;
    background-color:#fff;
    border:2px solid #c3c2f4;
}

.btn{
    color:white;
    background-color:blue;
    padding:5px 10px;
    border-radius:8px;
    cursor:pointer;
    width:100%;
    margin-top:10px;
}